.quote{
    background-color: #edf7f0;
    width: 100%;
    padding: 2em;
    margin: 1em;
    border-radius: 5px;
}
.content{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 1.25em;
}
.author{
    font-style: italic;
    text-align: right;
    margin: 0 2em 0 0;
}